* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-basic: #EFD7B5;
	--bg-dark: #6C8CD5;
	--color-black: #000000;
	--color-dark: #06266F;
	--color-dark-active: #008500;
	--anime-durat: 0.4s;
}

html {
	scroll-behavior: smooth;
}

body {
	/*min-width: 1200px;*/
	font-size: 16px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--bg-basic);
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

h3 {
	margin-bottom: 10px;
}

.main-header,
.face {
	background-color: var(--bg-dark);
}

.main-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 25px 15px 5px;
	list-style: none;
}

.nav-list {
	margin-right: 20px;
	margin-bottom: 20px;
}

.nav-link {
	padding: 5px;
	color: var(--color-dark);
	text-decoration: none;
	transition-duration: var(--anime-durat);
}

.nav-link:hover {
	color: var(--color-dark-active);
	box-shadow: 0 0 4px 2px var(--color-dark-active);
}

.face-wrap,
.aboutme,
.skills,
.projects,
.code,
.education,
.experience {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 30px 15px 50px;
}

.face-wrap {
	align-items: center;
}

.face-text {
	width: 50%;
	color: var(--color-dark);
}

.face-title-name {
	display: block;
	line-height: 1.2;
	font-size: 40px;
	color: var(--color-black);
	text-transform: uppercase;
}

.face-contact-list {
	display: flex;
	justify-content: center;
	margin-left: auto;
	font-size: 0;
	list-style: none;
}

.face-link {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	transition-duration: var(--anime-durat);
}

.face-github {
	background-image: url(../images/github.svg);
}

.face-mail {
	background-image: url(../images/email.png);
}

.face-link:hover {
	box-shadow: 0 0 4px 2px var(--color-dark-active);
}

.main-title {
	width: 40%;
	margin-bottom: 20px;
	color: var(--color-dark);
}

.description {
	width: 60%;
}

.skills-description {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.skills-inner {
	flex: 1 1 33.33%;
	margin-right: 40px;
	margin-bottom: 20px;
}

.skills-inner:last-child {
	margin: 0;
}

.list-item {
	position: relative;
	z-index: -1;
	padding-left: 20px;
	list-style: none;
}

.list-item::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 10px;
	border: 1px solid var(--color-dark-active);
	transform: translateY(-50%);
}

.projects-description {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.projects-inner {
	margin-right: 20px;
}

.projects-inner:last-child {
	margin: 0;
}

.projects-link {
	display: inline-block;
	height: 186px;
	outline: 1px solid var(--color-dark);
	transition-duration: 0.4s;
}

.projects-link:hover {
	outline-color: var(--color-dark-active);
	box-shadow: 0 0 4px 2px var(--color-dark-active);
}

.code .jscode {
	padding: 0;
	background-color: var(--bg-basic);
}

.main-footer {
	background-color: var(--bg-dark);
}

.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px 15px 30px;
}

.footer-inner {
	margin-right: 30px;
	margin-bottom: 30px;
}

.footer-inner:last-child {
	margin: 0;
}

.footer-contact-list {
	list-style: none;
}

.footer-contact-item {
	margin-bottom: 10px;
}

.footer-link {
	display: block;
	padding-left: 40px;
	text-decoration: none;
	color: var(--color-dark);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: contain;
	transition-duration: var(--anime-durat);
}

.footer-link:hover {
	color: var(--color-dark-active);
	box-shadow: 0 5px 4px -3px var(--color-dark-active);
}

.footer-github {
	background-image: url(../images/github.svg);
}

.footer-mail {
	background-image: url(../images/email.png);
}

.logo {
	transition-duration: var(--anime-durat);
}

.logo:hover {
	filter: invert(1);
}

.icon-home-link._active {
	display: block;
	position: fixed;
	z-index: 5;
	bottom: 15px;
	right: 15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid var(--color-dark-active);
}

@media (max-width: 795px) {
	.projects-inner {
		margin-bottom: 20px;
	}

	.code {
		flex-direction: column;
		align-items: center;
	}
	.code .main-title {
		width: 100%;
		text-align: center;
	}
	.code .description {
		width: 100%;
	}
}

@media (max-width: 535px) {
	.face-wrap {
		flex-direction: column;
		align-items: center;
	}

	.face-title {
		display: inline-block;
		text-align: center;
	}

}

@media (max-width: 453px) {
	.menu-icon {
		display: inline-block;
		position: fixed;
		z-index: 5;
		right: 15px;
		top: 15px;
		width: 40px;
		height: 20px;
		cursor: pointer;
	}

	.menu-icon span,
	.menu-icon::before,
	.menu-icon::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: var(--color-dark-active);
		transition: all 0.4s;
	}

	.menu-icon::before {
		content: '';
		top: 0;
	}

	.menu-icon::after {
		content: '';
		bottom: 0;
	}

	.menu-icon span {
		top: 50%;
		transform: scale(1) translateY(-50%);
	}

	.menu-icon._active::before {
		transform: rotate(45deg) translate(25%, 50%);
	}

	.menu-icon._active::after {
		transform: rotate(-45deg) translate(25%, -50%);
	}

	.menu-icon._active span {
		transform: scale(0) translate(0, -50%);
	}

	.main-nav {
		display: none;
		position: fixed;
		top: 0;
		left: -50%;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
		transform: translateX(-50%);
		background-color: var(--color-dark);
		opacity: 0.98;
		overflow: auto;
		transition: var(--anime-durat);
	}

	.nav-link {
		font-size: 24px;
		color: var(--color-black);
		font-weight: 700;
	}

	.main-nav._active {
		display: block;
		left: 50%;
	}

	body._lock {
		overflow: hidden;
	}

	.face-wrap,
	.aboutme,
	.skills,
	.projects,
	.education,
	.experience {
		flex-direction: column;
		align-items: center;
	}

	.face-wrap {
		padding-bottom: 50px;
	}

	.face-text {
		width: 100%;
		text-align: center;
	}

	.description {
		width: 100%;
	}

	.projects-description {
		align-items: center;
	}

	.projects-inner {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}

	.footer-wrap {
		flex-direction: column;
		align-items: center;
	}

	.footer-inner {
		margin-right: 0;
	}
}

@media (max-width: 330px) {
	.skills-description {
		flex-direction: column;
		
	}

	.skills-inner {
		margin-right: 0;
	}
}