* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-basic: #EFD7B5;
	--bg-dark: #6C8CD5;
	--color-black: #000000;
	--color-dark: #06266F;
	--color-dark-active: #008500;
	--anime-durat: 0.4s;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 1200px;
	font-size: 16px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--bg-basic);
}

.container {
	width: 1000px;
	margin: 0 auto;
}

h3 {
	margin-bottom: 10px;
}

.main-header,
.face {
	background-color: var(--bg-dark);
}

.main-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 25px 100px;
	list-style: none;
}

.nav-list {
	margin-right: 20px;
}

.nav-link {
	padding: 5px;
	color: var(--color-dark);
	text-decoration: none;
	transition-duration: var(--anime-durat);
}

.nav-link:hover {
	color: var(--color-dark-active);
	box-shadow: 0 0 4px 2px var(--color-dark-active);
}

.face-wrap,
.aboutme,
.skills,
.projects,
.code,
.education,
.experience {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 50px 100px;
}

.face-wrap {
	align-items: center;
}

.face-text {
	width: 50%;
	color: var(--color-dark);
}

.face-title-name {
	display: block;
	line-height: 1.2;
	font-size: 40px;
	color: var(--color-black);
	text-transform: uppercase;
}

.face-photo {
	width: 50%;
	padding-right: 100px;
	text-align: right;
}

.face-contact-list {
	display: flex;
	justify-content: center;
	width: 250px;
	margin-left: auto;
	font-size: 0;
	list-style: none;
}

.face-link {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	transition-duration: var(--anime-durat);
}

.face-github {
	background-image: url(/images/github.svg);
}

.face-mail {
	background-image: url(/images/email.png);
}

.face-link:hover {
	box-shadow: 0 0 4px 2px var(--color-dark-active);
}

.main-title {
	width: 40%;
	color: var(--color-dark);
}

.description {
	width: 60%;
}

.skills-description {
	display: flex;
	justify-content: space-between;
}

.skills-description {
	list-style: none;
}

.projects-description {
	display: flex;
	justify-content: space-between;
}

.projects-inner {
	margin-right: 20px;
}

.projects-inner:last-child {
	margin: 0;
}

.projects-link {
	display: inline-block;
	height: 186px;
	outline: 1px solid var(--color-dark);
	transition-duration: 0.4s;
}

.projects-link:hover {
	outline-color: var(--color-dark-active);
	box-shadow: 0 0 4px 2px var(--color-dark-active);
}

.main-footer {
	background-color: var(--bg-dark);
}

.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 100px;
}

.footer-contact-list {
	width: 230px;
	list-style: none;
}

.footer-contact-item {
	margin-bottom: 10px;
}

.footer-link {
	display: block;
	padding-left: 40px;
	text-decoration: none;
	color: var(--color-dark);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: contain;
	transition-duration: var(--anime-durat);
}

.footer-link:hover {
	color: var(--color-dark-active);
	box-shadow: 0 5px 4px -3px var(--color-dark-active);
}

.footer-github {
	background-image: url(/images/github.svg);
}

.footer-mail {
	background-image: url(/images/email.png);
}

.logo {
	transition-duration: var(--anime-durat);
}

.logo:hover {
	filter: invert(1);
}


